<html>
<head>
<title>student registration</title>
  <!-- Bootstrap core CSS -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="static/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="static/css/style.css" rel="stylesheet">
 

</head>
<body>
<!-- Default form register -->

  
   
<div class="container  white-text">
    <h3 class="card-header secondary-color white-text text-center py-4 ">
        <strong>Student Registration</strong>
    </h3>
<div class="card p-5 bg-dark">


 <div class="form-row">
    <div class="form-group form-inline col-md-6">
      <label for="inputEmail4">Student Name</label>
      <input type="text" name="Student_name" class="form-control" id="inputE4" placeholder="Enter Student name Name" required="" style="text-transform:uppercase">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Admission Number</label>
      <input type="text" name="Admission_number" class="form-control" id="inputPassword4" placeholder="Enter Admission Number" required="" style="text-transform:uppercase">
    </div>

  <div class="form-row md-1 pb-2">
      <div class="col-md-6">
      <div class="form-group form-inline">
      <label for="inputPassword3">Date Of Birth</label>
      <input type="date" id="inputPassword3" class="form-control mx-md-5" aria-describedby="passwordHelpInline">
      </div>
      </div>

      <div class="col-md-6">
      <div class="form-group form-inline">
      <label for="inputPassword3">Age</label>
      <input type="text" id="inputPassword3" class="form-control mx-md-5" aria-describedby="passwordHelpInline">
      </div>
      </div>

  </div>

  <div class="form-row md-1 pb-2">
      <div class="col-md-6">
      <div class="form-group form-inline">
      <label for="inputPassword3">User Name</label>
      <input type="text" id="inputPassword3" class="form-control mx-md-5" aria-describedby="passwordHelpInline">
      </div>
      </div>

      <div class="col-md-6">
      <div class="form-group form-inline">
      <label for="inputPassword3">Password</label>
      <input type="password" id="inputPassword3" class="form-control mx-md-5" aria-describedby="passwordHelpInline">
      </div>
      </div>

  </div>

  <div class="form-row md-1 pb-2">
      <div class="col-md-6">
      <div class="form-group form-inline">
      <label for="inputPassword3">Father's Name</label>
      <input type="text" id="inputPassword3" class="form-control mx-md-5" aria-describedby="passwordHelpInline">
      </div>
      </div>

      <div class="col-md-6">
      <div class="form-group form-inline">
      <label for="inputPassword3">Mother's Name</label>
      <input type="text" id="inputPassword3" class="form-control mx-md-5" aria-describedby="passwordHelpInline">
      </div>
      </div>

  </div>

  <div class="form-row md-1 pb-2">
      <div class="col-md-6">
      <div class="form-group form-inline">
      <label for="inputPassword3">College Name</label>
      <input type="text" id="inputPassword3" class="form-control mx-md-5" aria-describedby="passwordHelpInline">
      </div>
      </div>

      <div class="col-md-6">
      <div class="form-group form-inline">
      <label for="inputPassword3">Course</label>
      <input type="text" id="inputPassword3" class="form-control mx-md-5" aria-describedby="passwordHelpInline">
      </div>
      </div>

  </div>

  <div class="form-row md-1 pb-2">
      <div class="col-md-6">
      <div class="form-group form-inline">
      <label for="inputPassword3">Date Of Joining</label>
      <input type="date" id="inputPassword3" class="form-control mx-md-5" aria-describedby="passwordHelpInline">
      </div>
      </div>

      <div class="col-md-6">
      <div class="form-group form-inline">
      <label for="inputPassword3">Date Of Completion</label>
      <input type="date" id="inputPassword3" class="form-control mx-md-5" aria-describedby="passwordHelpInline">
      </div>
      </div>

  </div>



  <center><button type="button" class="btn btn-outline-default waves-effect">Submit</button></center>




      
</div>
    
</div>  

<!-- Default form register -->


  <!------- scripts-------->
<script type="text/javascript" src="static/js/jquery-3.3.1.min.js.download"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="static/js/popper.min.js.download"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="static/js/bootstrap.min.js.download"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="static/js/mdb.js.download"></script>

</body>
</html>